{% extends 'base.html.twig' %}

{% block body %}
<div class="home">

   <div class="logo">
        <a href="{{ path('home') }}">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/ManoMano_2018.png" alt="Logo de ManoMano">
        </a>
    </div>

<div class="contenant-piece">

    <div class="conteneur-home-texte">
        <div class="textes-home">
            <h1 class="titre-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia pellentesque nunc, pulvinar mollis ante pretium feugiat. Integer neque odio, tincidunt in ultrices in, scelerisque et massa. </h3>
        </div>
    </div>

    <div class="conteneur-maison">

        <img usemap="#maison" id="cuisine" class="maison-home" src="https://www.burolia.fr/images/products/bureaux-etner-32489z.jpg" alt="Cuisine">

           <map name="maison" id="maison">

                <p class="asterisque">*Cliquez sur la partie correspondante</p>
    </div>
</div>

</div>

{% endblock %}