{% extends 'base.html.twig' %}

{% block body %}


<div class="logo">
    <a  href=""><img class="logo" src="" alt="Logo de ManoMano"></a>
</div>

<h1>Faites les bons choix et trouvez les produits qui vous conviennent </h1>
<h2>Rénovation de la cuisine, bricolage dans le jardin, aménagement d'une chambre ...</h2>

<img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/c3f5d0ca-a74d-42d8-9709-6ea5e992798b.__CR0,0,970,600_PT0_SX970_V1___.jpg">


{% endblock %}