{% extends 'base.html.twig' %}

{% block body %}


<div class="logo">
    <a  href=""><img class="logo" src="" alt="Logo de ManoMano"></a>
</div>

<h1>Faites les bons choix et trouvez les produits qui vous conviennent </h1>
<h2>Rénovation de la cuisine, bricolage dans le jardin, aménagement d'une chambre ...</h2>

<img src="https://cdn-7.com/media/wysiwyg/box-bed-v3/fr/11559/1810-9333_img.png?v=20220118082513">


{% endblock %}