{% extends 'base.html.twig' %}

{% block body %}
<div class="home">

   <div class="logo">
        <a href="{{ path('home') }}">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/ManoMano_2018.png" alt="Logo de ManoMano">
        </a>
    </div>

<div class="contenant-piece">

    <div class="conteneur-home-texte">
        <div class="textes-home">
            <h1 class="titre-home">Pour une chambre confortable, agréable et à votre image </h1>
                            <h3>Un grand choix de literie, de décoration, de luminaires ou d'ouvertures à portée de clic...</h3>
        </div>
    </div>

    <div class="conteneur-maison">

        <img usemap="#maison" id="cuisine" class="maison-home" src="https://cdn-7.com/media/wysiwyg/box-bed-v3/fr/11559/1810-9333_img.png?v=20220118082513" alt="Cuisine">

            <map name="maison" id="maison">

                <p class="asterisque">*Cliquez sur la partie correspondante</p>
    </div>
</div>

</div>

{% endblock %}