{% extends 'base.html.twig' %}

{% block body %}

   <div class="logo">
        <a href="{{ path('home') }}">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/ManoMano_2018.png" alt="Logo de ManoMano">
        </a>
    </div>

<div class="contenant-home">

      <div class="conteneur-home-texte">
        <div class="textes-home">
            <h1 class="titre-home">Faites les bons choix et trouvez les produits qui vous conviennent </h1>
                <h3>Rénovation de la cuisine, bricolage dans le jardin, aménagement d'une chambre ...</h3>
        </div>
    </div>

<div class="conteneur-maison">

    <a href="https://google.com"><div id="btn-sols"></div></a>
    <a href="https://google.com"><div id="btn-robinetterie"></div></a>
    <a href="https://google.com"><div id="btn-murs"></div></a>
    <a href="https://google.com"><div id="btn-eclairage"></div></a>
    <a href="https://google.com"><div id="btn-quincaillerie"></div></a>
    <a href="https://google.com"><div id="btn-meublerangement"></div></a>


    <img usemap="#maison" id="cuisine" class="maison-home" src="https://media.but.fr/images_produits/produit-zoom/B_7_3480940257998.jpg" alt="Cuisine">

        <map name="maison" id="maison">

         <h3 class="btn-home">Quelles pièces souhaitez-vous rénover ? *</h3>
            <p class="asterisque">*Cliquez sur la pièce correspondante</p>
    </div>
</div>

{% endblock %}