{% extends 'base.html.twig' %}

{% block body %}


<div class="logo">
        <a href="{{ path('home') }}">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/ManoMano_2018.png" alt="Logo de ManoMano">
        </a>
    </div>

<div class="contenant-home">

    <div class="conteneur-home-texte">
        <div class="textes-home">
            <h1 class="titre-home">Faites les bons choix et trouvez les produits qui vous conviennent </h1>
                <h3>Rénovation de la cuisine, bricolage dans le jardin, aménagement d'une chambre ...</h3>
        </div>
</div>

<div class="conteneur-maison">

    <a href="https://google.com"><div id="btn-sols-salon"></div></a>
    <a href="https://google.com"><div id="btn-eclairage-salon"></div></a>
    <a href="https://google.com"><div id="btn-meublerangement-salon"></div></a>
    <a href="https://google.com"><div id="btn-murs-salon"></div></a>

<img src="https://cache.marieclaire.fr/data/photo/w1000_ci/1jv/idees-deco-salon2.jpg">


{% endblock %}