{% extends 'base.html.twig' %}

{% block body %}


<div class="logo">
    <a  href=""><img class="logo" src="" alt="Logo de ManoMano"></a>
</div>

<h1>Faites les bons choix et trouvez les produits qui vous conviennent </h1>
<h2>Rénovation de la cuisine, bricolage dans le jardin, aménagement d'une chambre ...</h2>

<img src="https://ws.pap.fr/cdnV1/5accbd91eccc22505b6e6ce4/5accbd91eccc22505b6e6ce4-1549978718-800x500.jpg">


{% endblock %}