{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <ul>
    {% for article in articles %}
        <li>
            <a href="{{ article.url }}">{{ article.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}


