Barre de recherche .searchbar {
    background-color: magenta;
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    padding: 8px;
    border: 1px solid #4D4848;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}