{% extends 'base.html.twig' %}

{% block body %}

<div class="blocchoix">

    <div class="catégorie">
        <img src"" alt="picto">
        <p>Matériaux</p>
    </div>

    <div class="catégorie">
        <img src"" alt="picto">
        <p>Outils</p>
    </div>

    <div class="catégorie">
        <img src"" alt="picto">
        <p>Ameublement et décoration</p>
    </div>

</div>

<div class="blocfiltres">
    <img src="" alt="capture d'écran des filtres site ManoMano">
</div>

<div class="blocproduits">

    <div class="searchbar">
    </div>

    {# {% if on clique sur matériaux %} #}
    <div class="produits">
        <div class="souscategorie">
            <h3>Carrelage</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>

        <div class="souscategorie">
            <h3>Carrelages effet parquet</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>

        <div class="souscategorie3">
            <h3>Joints</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>
                </div>
        </div>

        <div class="souscategorie">
            <h3>Béton ciré</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>
    </div>

    {# {% endif %} #}

    {# {% if on clique sur ameublement et déco %} #}
    <div class="produits">
        <div class="souscategorie">
            <h3>Meubles</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>

        <div class="souscategorie">
            <h3>Textiles</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>

        <div class="souscategorie3">
            <h3>Miroirs</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>
                </div>
        </div>

        <div class="souscategorie">
            <h3>Luminaires</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>
    </div>

   {# {% endif %} #}

    {# {% if on clique sur outils %} #}
    <div class="produits">
        <div class="souscategorie">
            <h3>Outils de mesure et de traçage</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>

        <div class="souscategorie">
            <h3>Outils de préparation pour mortier</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>

        <div class="souscategorie3">
            <h3>Outils de découpes</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>
                </div>
        </div>

        <div class="souscategorie">
            <h3>Outils de pose</h3>
                <div class="articles">

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                    <div class="article">
                        <img src"">
                        <p class="titrearticle"></p>
                        <p class="prix"></p>
                    </div>

                </div>
        </div>
    </div>
</div>

<div class="blocconseils">
    <div class="blog">
        <a href=""><img src=""></a>
        <p></p>
    </div>

    <div class="youtube">
        <a href=""><img src=""></a>
        <p></p>
    </div>

    <div class="pro">
        <a href=""><img src=""></a>
        <p></p>
    </div>
</div>

{% endblock %}
